<header class="landing-header">
  <div class="header-content">
    <div class="header-content-inner">
      <%= image_tag image_path('logo.png'), :class => 'img-responsive logo'%>
      <h1>Рыбалка в Пензенской области</h1>
      <hr>
      <p>Ваш персональный рыболовный гид. Стоимость ловли, детальная схема проезда. Только достоверная информация от ведущих рыболовов Пензы и области.</p>
      <a href="<%= regions_url %>" class="btn btn-primary btn-xl page-scroll">Список водоёмов</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Мы постоянно в поиске!</h2>
        <hr class="light">
        <p class="text-faded">Мы постоянно ищем новые водоемы и исследуем их обитателей. Наша база пополняется только проверенными сведениями. Присоединяйтесь к нашей команде исследователей и рыбаков. Добавьте водоем, и после нашей проверки он появится в каталоге. Мы будем рады любой помощи. </p>
        <a href="<%= add_location_url %>" class="btn btn-default btn-xl">Добавить водоем</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Что мы предлагаем</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-database wow bounceIn text-primary"></i>
          <h3>База мест ловли и отдыха</h3>
          <p class="text-muted">Мы уже добавили более <%= Location.count - 2 %> водоемов Пензенской области.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-thumbs-up wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Достоверная информация</h3>
          <p class="text-muted">На каждом водоеме побывали либо мы, либо наши специалисты!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-search wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Обновления</h3>
          <p class="text-muted">Это не все водоемы нашей области, мы постоянно ведем поиск новых.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Мнение экспертов</h3>
          <p class="text-muted">Мы сотрудничаем с ведущими спортсменами и любителями области!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <% @locations.each do |location| %>
      <div class="col-lg-4 col-sm-6">
        <a href="<%= region_location_url(location.region.id, location.id) %>" class="portfolio-box">
          <img src="<%= location.photos.where(:is_main => true).first.image.url(:to_main) if location.photos.where(:is_main => true).first.present? %>" class="img-responsive" alt="<%= location.title %>">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <%= location.region.title %>
              </div>
              <div class="project-name">
                <%= location.title %>
              </div>
            </div>
          </div>
        </a>
      </div>
      <% end %>

    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Последнее пополнение нашей базы водоемов</h2>
      <a href="<%= regions_url %>" class="btn btn-default btn-xl wow tada">Перейти к полному просмотру!</a>
    </div>
  </div>
</aside>

<section id="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Партнеры</h2>
        <hr class="primary">
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <% Partner.all.each do |partner| %>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <a href="<%= partner.partner_link %>" target="_blank">
                <img src="<%= partner.logo.url(:to_main)%>" class="img-responsive partner-image">
              </a>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Контакты</h2>
        <hr class="light">
        <p>У вас есть предложения о сотрудничестве? Вы хотите пригласить нас на рыбалку? Свяжитесть с нами любым удобным вам способом</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x wow bounceIn"></i>
        <p>+7(987)517-70-40</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        <p><a href="mailto:your-email@your-domain.com">info@iamfisher.ru</a></p>
      </div>

      <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!— VK Widget —>
        <div id="vk_groups"></div>
      </div>

      <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 0, width: "auto", height: "300", color1: 'FFFFFF', color2: '2B587A', color3: 'f05f40'}, 54936170);
      </script>
    </div>
  </div>
</section>
