У вас есть новые уведомления: <%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %>
===============================================

Уведомление:

-----------------------------------------------
<%= @notification.body.html_safe? ? @notification.body : strip_tags(@notification.body) %>
-----------------------------------------------

Перейти на  <%= root_url %> для просмотра.
