<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>У вас есть новые уведомления: <%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %></h1>
    <p>
      Уведомление:
    </p>
    <blockquote>
      <p>
        <%= raw @notification.body %>
      </p>
    </blockquote>
    <p>
      Перейти на  <%= link_to root_url,root_url %> для просмотра.
    </p>
  </body>
</html>