<div class="row message-section">
<div class="col-xs-12">
  <%= form_tag reply_conversation_path(conversation), method: :post do %>
      <div class="form-group">
        <%= text_area_tag 'body', nil, class: 'form-control wysihtml5',required: true %>
      </div>
      <%= submit_tag 'Ответить', class: 'btn btn-primary' %>
  <% end %>
</div>
</div>