<div class="row">

  <div class="col-xs-12" >
    <div class="page-header">
      <h3>Личное сообщение для <%= @user.name %></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= form_tag({controller: "messages", action: "create"}, method: :post) do %>
        <%= hidden_field_tag(:user, "#{@user.id}") %>
        <div class="form-group">
          <%= label_tag 'Тема' %><br>
          <%= text_field_tag :subject, nil, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag 'Сообщение' %><br>
          <%= text_area_tag :body ,nil, class: 'form-control wysihtml5' %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Отправить', :class=> 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>