<div id="toolbar" class="toolbar-conversations">
  <nav class="toolbar_menu">
    <ul class="nav">

      <li>
        <%= link_to conversations_path do %>
            <i class='fa fa-inbox <%= 'active' if params[:box] == 'inbox' %>'> Входящие</i> (<%= @conversationscount.count %>)
        <% end %>
      </li>

    </ul>
  </nav>
</div>