<% content_for :thredded_page_title, 'Messageboards' %>
<% content_for :thredded_page_id, 'thredded-messageboards-index' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li>
      <%= link_to 'Все обсуждения', messageboards_path %>
    </li>
  </ul>
<% end %>
<%= thredded_page do %>
  <section class="main-section messageboards">
    <%= render @messageboards %>
  </section>

  <div class="messageboard--create">
    <%= link_to 'Добавить новое обсуждение', new_messageboard_path, class: 'button' %>
  </div>
<% end %>
