<% content_for :thredded_page_title, 'Создать новое обсуждение' %>
<% content_for :thredded_page_id, 'thredded-messageboards-new' %>
<%= thredded_page do %>
  <%= form_for @messageboard do |f| %>
    <ul class="form-list">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </li>
      <li class="form-list--with-hint">
        <%= f.label :security %>
        <p class="form-list--hint">Кто сможет видеть темы</p>
        <%= f.select :security, [:private, :public, :logged_in] %>
      </li>
      <li class="form-list--with-hint">
        <%= f.label :posting_permission %>
        <p class="form-list--hint">Кто может создавать темы</p>
        <%= f.select :posting_permission, [:members, :logged_in, :anonymous] %>
      </li>

      <li class="submit"><%= f.submit 'Создать новое обсуждение' %></li>
    </ul>
  <% end %>
<% end %>
