<% content_for :title, 'Политика конфиденциальности - Рыбалка в Пензенской области' %>
<div class="row">
  <div class="col-xs-12">

    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url%> </li>
      <li class="active">Политика конфиденциальности </li>
    </ol>
  </div>
</div>
<div class="row">

  <div class="col-xs-12" >
    <div class="page-header">
      <h3>Политика конфиденциальности</h3>
    </div>
    <p>Вся личная информация, полученная от пользователя и о пользователе. Будет использована только в рамках проекта <b>iamfisher.ru</b> . Мы ни при каких условиях не продаем и не передаем личную информацию пользователей третьим лицам, будь то адрес электронной почты или номер телефона.
    </p>
  </div>
</div>
<h3>Для чего мы собираем данные пользователей:</h3>
<ul>
  <li><p>Email. Ваш электронный адрес , прежде всего, необходим для регистрации и авторизации на сайте iamfisher.ru для исключения ошибочной регистрации и регистрации ботов. Мы не занимаемся спам рассылкой и не предлагаем купить ненужную Вам продукцию. Email используется лишь для информирования пользователей о появлении новой уникальной информации о водоемах, соревнованиях и других события, которые на 100% будут Вам интересны.
    </p></li>
  <li><p>ФИО.  При использовании личного кабинета(далее ЛК) мы убедительно просим использовать Ваши настоящие Имя и Фамилию лишь для того, чтобы администрация сайта ,а также Ваши друзья могли легко с Вами связаться. Ваши ФИО будут отображаться в Вашем ЛК, в пункте «от кого» в отправленных Вами сообщениях, в составленных Вами отчетах к водоемам и оставленных Вами комментариях. Также, Ваши Фамилия и Имя будут необходимы для быстрой регистрации на соревнования, проводимые с участием проекта iamfisher.ru.
    </p></li>
  <li><p>Номер сотового телефона. Вы сами выбираете, того кто может видеть номер Вашего телефона; либо все пользователи, либо никто. Номер телефона потребуется при быстрой регистрации на соревнования, проводимые с участием проекта iamfisher.ru и в качестве одного из вариантов связи с пользователем при работе с Альманахом(в разработке).
    </p></li>
  <li><p>Местоположение пользователя.  Эти данные нужны для отображения близлежащих водоемов в ЛК.
    </p></li>
</ul>
<p>
  Остальные собранные данные используются исключительно для правильной работы и отображения личного кабинета и сбора статистических данных.

  Мы соблюдаем закон о сотрудничестве с органами власти.
  Изменения
  При внесении изменений в политику конфиденциальности проекта iamfisher.ru все зарегистрированные пользователи будут оповещены посредством Email рассылки.
</p>