<div class="row">

  <div class="col-xs-12">
    <div class="page-header">
      <h3>Личные сообщения
        <small><%= @conversation.subject %></small>
      </h3>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-xs-12">
    <div class="messages-body">
        <% @conversation.receipts_for(current_user).each do |receipt| %>
            <% message = receipt.message %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= message.sender.name %></h3>
          </div>
          <div class="panel-body">
            <%= message.body.html_safe %>
            <span class="timestamp">Отправленно</span>
                <span class="timestamp">
                    <%= time_ago_in_words(message.updated_at) %>
                </span>
            <span class="timestamp">назад.</span>
          </div>
        </div>
        <% end %>
    </div>
      <%= render 'messages/form', conversation: @conversation %>

  </div>
</div>

<script type="application/javascript">

$(document).ready(function () {
    var s = document.body.scrollHeight - 270;
    window.scrollTo(0,s);

});
</script>
