
<div class="row">

  <div class="col-xs-12" >
    <div class="page-header">
      <h3>Корзина <small><a href="<%= conversations_path %>"> Входящие (<%= @conversationscount.count %>) </a> |
        <a href="<%= trashbin_conversations_path %>"> Корзина (<%= @trash.count %>)</a>
        </small></h3>
    </div>
  </div>
</div>
<div class="row">
  <p>
    <% if @trashcount.count > 0 %><%= button_to 'Очистить корзину', 'empty_trash', :confirm => 'Очистить корзину?', :class => 'btn btn-primary btn-danger' %>
    <% end %>
  </p>
  <div class="col-xs-12">

    <table class="table table-hover table-striped">
      <tr>
        <th>Отправитель</th>
        <th>Тема</th>
        <th>Дата</th>
        <th></th>
      </tr>
      <% if @trash == nil || @trash.empty? %>
          <i>Корзина пуста</i>
      <% end %>
      <% @trash.each do |conversation| %>
          <tr class="<% if !conversation.is_read?(current_user) %>success<% end %>">
            <td >
              <% conversation.participants.each do |participant| %>
                  <% if participant != current_user %>
                      <% if conversation.is_read?(current_user) %> <%= participant.name %>
                      <% else %>
                          <b> <%= participant.name %> </b>
                      <% end %>
                  <% end %>
              <% end %>
            </td>
            <td >
              <% if conversation.is_read?(current_user) %>
                  <%= link_to conversation.subject, conversation_path(conversation) %> </td>
              <% else %>
                  <b><%= link_to conversation.subject, conversation_path(conversation) %></b> </td>
              <% end %>
              <td >
                <% if conversation.is_read?(current_user) %> <%= Russian::strftime(conversation.updated_at, '%d %B %Y')  %></td>
                <% else %>
                    <b> <%= Russian::strftime(conversation.updated_at, '%d %B %Y') %> </b>
                    </td>
                <% end %>
                <td >
                  <%= link_to '<i class="fa fa-inbox fa-2x"></i>'.html_safe, {:controller => "conversations", :action => "untrash", :id => conversation.id}, :title => 'Восстановить', :method => 'post' %>
                </td>
                </tr>
      <% end %>
    </table>
    <%= will_paginate @trash %>
  </div>
</div>

