<% # Clients of this partial must supply the following variables:
   # thread
   # user
%>

<% if thread.can_be_read_by?(user) %>


  <div id="thread_<%= thread.id %>_div" class="thread" style="display: none;">
    <% if @commontator_thread_show %>
      <%= render :partial => 'commontator/threads/show',
                 :locals => { :thread => thread,
                              :user => user,
                              :page => @commontator_page,
                              :per_page => @commontator_per_page } %>
    <% else %>
      <% subscription = thread.subscription_for(user) %>
        <div class="page-header">
        <h3><%= link_to "#{t 'commontator.thread.actions.show'} (#{(subscription.unread_comments.count.to_s + '/') if subscription}#{thread.filtered_comments.count.to_s})",
                  commontator.thread_path(thread),
                  :remote => true %></h3>
        </div>
    <% end %>
  </div>
<% end %>
