<div class="row">
  <div class="page-header">
    <h3> <%= @user.name %> <%= @user.soname  %>
      <% if current_user.present? && @user.id == current_user.id %>
          <small><%= link_to 'Редактировать', users_user_edit_url(current_user.id) %></small>
      <% end %>
    </h3>
  </div>
  <div class="col-xs-4">
    <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.url(:to_main_profile), :class => 'img-responsive' %>
    <% else %>
        <%= image_tag image_path('logo.png'), :class => 'img-responsive' %>
    <% end %>
    <div id="toolbar" class="toolbar-conversations">
      <nav class="toolbar_menu">
        <ul class="nav">
          <li>
            <%= link_to new_message_path(:user => @user.id) do %>
                <i class='fa fa-edit <%= 'active' if controller.action_name == 'new' %>'> Написать сообщение</i>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-xs-8">


    <dl class="dl-horizontal">
      <dt>Регион</dt>
      <dd><%= @user.region.title if @user.region.present? %></dd>
      <dt>Дата регистрации</dt>
      <dd><%= Russian::strftime(@user.created_at, "%d %B %Y") %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h3>Товары <small> <%= link_to 'добавить товар', users_create_product_url %></small> </h3>
    </div>
  </div>



</div>

<div class="row">
  <% @user.products.each do |product| %>
    <div class="col-xs-3">

      <div class="page-header">
        <h4><%= link_to product.name, users_show_product_url(product) %> <small> <%= product.price %></small> </h4>
      </div>

      <% if product.image.present? %>
          <%= image_tag product.image.url(:medium), :class => 'img-responsive' %>
      <% else %>
          <%= image_tag image_path('logo.png'), :class => 'img-responsive' %>
      <% end %>
    </div>
  <% end %>
</div>

<div style="margin-bottom: 40px;">&nbsp;</div>

<div class="row">
  <div class="col-xs-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="about_company" role="tab" data-toggle="tab">О магазине</a></li>
        <li role="presentation"><a href="#information_for_clients" aria-controls="information_for_clients" role="tab" data-toggle="tab">Информация для клиентов</a></li>
        <li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li role="presentation"><a href="#wholesalers" aria-controls="wholesalers" role="tab" data-toggle="tab">Оптовикам</a></li>
        <li role="presentation"><a href="#payment_and_delivery" aria-controls="payment_and_delivery" role="tab" data-toggle="tab">Оплата и доставка</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="about_company">
          <%= @user.about_company.html_safe if @user.about_company.present?  %>
        </div>
        <div role="tabpanel" class="tab-pane" id="information_for_clients">
          <%= @user.information_for_clients.html_safe if @user.information_for_clients.present?  %>
        </div>
        <div role="tabpanel" class="tab-pane" id="contacts">
          <%= @user.contacts.html_safe if @user.contacts.present?  %>
        </div>
        <div role="tabpanel" class="tab-pane" id="wholesalers">
          <%= @user.wholesalers.html_safe if @user.wholesalers.present?  %>
        </div>
        <div role="tabpanel" class="tab-pane" id="payment_and_delivery">
          <%= @user.payment_and_delivery.html_safe if @user.payment_and_delivery.present?  %>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h3>Отчеты магазина</h3>
    </div>
  </div>

</div>

<% if @articles.present? && @articles.size > 0 %>

    <% @articles.each do |article| %>
        <div class="row profile-article article-container">
          <div class="col-xs-12 col-sm-4">
            <% if article.logo.present? %>
                <%= link_to image_tag(article.logo.url(:medium), :class => 'img-responsive '), article_url(article.id) %>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="page-header">
              <h3><%= link_to article.title, article_url(article.id) %>
                <small><%= article.category.title %></small>
              </h3>
            </div>
            <p><%= truncate_html(strip_tags(article.description.html_safe), :length => 400, :omission => '...') %></p>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="row">
      <div class="col-xs-12">
        <h3>Магазин пока не написал отчетов</h3>
      </div>
    </div>
<% end %>

<% if @user_locations.present? && @user_locations.size > 0 %>
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h3>Водоёмы добавленные магазином</h3>
        </div>

      </div>
    </div>
    <div class="row profile_location_block">
      <% @user_locations.each do |user_location| %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="thumbnail location_block">
              <% if user_location.photos.present? && user_location.photos.where(:is_main => true).first.present? %>
                  <%= link_to image_tag(user_location.photos.where(:is_main => true).first.image.url(:medium)), region_location_url(user_location.region.id, user_location.id) %>
              <% end %>
              <div class="caption">
                <h3><a href="<%= region_location_url(user_location.region.id, user_location.id) %>"><%= user_location.title %></a></h3>

              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>