<div class="row">
  <div class="page-header">
    <h3> <%= @user.name %> <%= @user.soname  %>
      <% if current_user.present? && @user.id == current_user.id %>
          <small><%= link_to 'Редактировать', users_user_edit_url(current_user.id) %></small>
      <% end %>
    </h3>
  </div>
  <div class="col-xs-4">
    <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.url(:to_main_profile), :class => 'img-responsive' %>
    <% else %>
        <%= image_tag image_path('logo.png'), :class => 'img-responsive' %>
    <% end %>
    <div id="toolbar" class="toolbar-conversations">
      <nav class="toolbar_menu">
        <ul class="nav">
          <li>
            <%= link_to new_message_path(:user => @user.id) do %>
                <i class='fa fa-edit <%= 'active' if controller.action_name == 'new' %>'> Написать сообщение</i>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-xs-8">


    <dl class="dl-horizontal">
      <dt>Персональный номер</dt>
      <dd><%= @user.id %></dd>
      <dt>День рождения</dt>
      <dd><%= Russian::strftime(@user.birthday, "%d %B %Y") if @user.birthday.present? %></dd>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
      <dt>Телефон</dt>
      <dd><%= @user.phone if @user.phone.present?  %></dd>
      <dt>Регион</dt>
      <dd><%= @user.region.title if @user.region.present? %></dd>
      <dt>Дата регистрации</dt>
      <dd><%= Russian::strftime(@user.created_at, "%d %B %Y") %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Коротко обо мне</h3>

    <p>
      <%= @user.description.html_safe if @user.description.present? %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h3>Отчеты пользователя</h3>
    </div>
  </div>

</div>

<% if @articles.present? && @articles.size > 0 %>

    <% @articles.each do |article| %>
        <div class="row profile-article article-container">
          <div class="col-xs-12 col-sm-4">
            <% if article.logo.present? %>
                <%= link_to image_tag(article.logo.url(:medium), :class => 'img-responsive '), article_url(article.id) %>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="page-header">
              <h3><%= link_to article.title, article_url(article.id) %>
                <small><%= article.category.title %></small>
              </h3>
            </div>
            <p><%= truncate_html(strip_tags(article.description.html_safe), :length => 400, :omission => '...') %></p>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="row">
      <div class="col-xs-12">
        <h3>Пользователь пока не написал отчетов</h3>
      </div>
    </div>
<% end %>

<% if @user_locations.present? && @user_locations.size > 0 %>
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h3>Водоёмы добавленные пользователем</h3>
        </div>

      </div>
    </div>
    <div class="row profile_location_block">
      <% @user_locations.each do |user_location| %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="thumbnail location_block">
              <% if user_location.photos.present? && user_location.photos.where(:is_main => true).first.present? %>
                  <%= link_to image_tag(user_location.photos.where(:is_main => true).first.image.url(:medium)), region_location_url(user_location.region.id, user_location.id) %>
              <% end %>
              <div class="caption">
                <h3><a href="<%= region_location_url(user_location.region.id, user_location.id) %>"><%= user_location.title %></a></h3>

              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<% if @locations.present? && @locations.size > 0 %>
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h3>Водоёмы в районе пользователя</h3>
        </div>

      </div>
    </div>
    <div class="row profile_location_block">
      <% @locations.each do |location| %>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="thumbnail location_block">
              <% if location.photos.present? && location.photos.where(:is_main => true).first.present? %>
                  <%= link_to image_tag(location.photos.where(:is_main => true).first.image.url(:medium)), region_location_url(location.region.id, location.id) %>
              <% end %>
              <div class="caption">
                <h3><a href="<%= region_location_url(location.region.id, location.id) %>"><%= location.title %></a></h3>

              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>