<div id="add-email" class="container white-page">
  <div class="page-header">
    <h2>Укажите E-mail</h2>
  </div>
  <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user.id), :html => { role: 'form'}) do |f| %>
      <% if @show_errors && current_user.errors.any? %>
          <div id="error_explanation">
            <% current_user.errors.full_messages.each do |msg| %>
                <%= msg %><br>
            <% end %>
          </div>
      <% end %>
      <div class="form-group">
        <%= f.label :email %>
        <div class="form-group">
          <%= f.text_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'email@me.com' %>
        </div>
        
      </div>
      <div class="actions">
        <%= f.submit 'Продолжить', :class => 'btn btn-primary' %>
      </div>
  <% end %>
</div>