<% content_for :title, 'Друзья и партнеры проекта Рыбалка в Пензенской области iamfisher.ru' %>

<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url %> </li>
      <li class="active">Список пользователей</li>
    </ol>
  </div>
</div>

<div class="page-header">
  <h3>Список пользователей</h3>


</div>

<div class="row">
  <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-3 items-list">
        <div class="row">

        <div class="col-xs-12">

          <% if current_user.present? && current_user.id.equal?(user.id) %>
              <%= link_to users_root_url do %>
                  <%= user.id %>. <%= user.name if user.name.present? %> <%= user.soname if user.soname.present? %>


              <% end %>

          <% else %>
              <%= link_to user_profile_url(user.id) do %>
                  <%= user.id %>. <%= user.name if user.name.present? %> <%= user.soname if user.soname.present? %>
              <% end %>
          <% end %>
          <% if User.online(1200).include?(user) %>
              <span class="label label-success">В сети</span>
          <% else %>
              <span class="label label-danger">Не в сети</span>
          <% end %>
          <br/>
          <%= user.region.title if user.region.present?%>
        </div>
      </div>
      </div>
  <% end %>
</div>