Вы получили новое сообщение: <%= @subject %>
===============================================

Сообщение:

-----------------------------------------------
<%= @message.body.html_safe? ? @message.body : strip_tags(@message.body) %>
-----------------------------------------------

Перейти на  <%= root_url %> для просмотра.
