<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Вы получили новое сообщение: <%= @subject %></h1>
    <p>
      Сообщение:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Перейти на  <%= link_to root_url,root_url %> для просмотра.
    </p>
  </body>
</html>
