<% # Clients of this partial must supply the following variables:
   # comment
   # user
%>

<% creator = comment.creator
   name = Commontator.commontator_name(creator) || ''
   link = Commontator.commontator_link(creator, main_app) || ''
   avatar = Commontator.commontator_avatar(creator, self) || ''
%>

<div id="comment_<%= comment.id.to_s %>_div" class="comment">
  <div id="comment_<%= comment.id.to_s %>_top_div" class="comment_div">
    <span id="comment_<%= comment.id.to_s %>_commontator_span" class="comment_commontator">
      <%= link.blank? ? name : link_to(name, link) %>
    </span>
    <span id="comment_<%= comment.id.to_s %>_actions_span" class="comment_actions">
      <%= render :partial => 'commontator/comments/actions',
                 :locals => { :comment => comment,
                              :user => user } %>
    </span>
  </div>
  <div id="comment_<%= comment.id.to_s %>_middle_div" class="comment_div">
    <span id="comment_<%= comment.id.to_s %>_avatar_span" class="comment_avatar">
      <%= avatar %>
    </span>
    <span id="comment_<%= comment.id.to_s %>_votes_span" class="comment_votes">
      <%= render :partial => 'commontator/comments/votes',
                 :locals => { :comment => comment,
                              :user => user } %>
    </span>
    <div id="comment_<%= comment.id.to_s %>_body_div" class="comment_body">
      <%= render :partial => 'commontator/comments/body',
                 :locals => { :comment => comment } %>
    </div>
  </div>
  <div id="comment_<%= comment.id.to_s %>_bottom_div" class="comment_div">
    <span id="comment_<%= comment.id.to_s %>_created_timestamp_span" class="comment_timestamp">
      <%= Russian::strftime(comment.created_at, "%d %B %Y")  %>
    </span>
    <br/>
    <span id="comment_<%= comment.id.to_s %>_updated_timestamp_span" class="comment_timestamp">
    <% if comment.is_modified? %>
          <%= Russian::strftime(comment.updated_at, "%d %B %Y")  %>
    <% end %>
    </span>
  </div>
</div>
