<div class="row">
  <div class="col-xs-12 col-sm-4" >
    <% if article_list_view.logo.present?  %>
        <%= link_to image_tag(article_list_view.logo.url(:medium), :class => 'img-responsive'), article_url(article_list_view.id)%>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-8" >
    <div class="page-header">
      <h3><%= link_to article_list_view.title, article_url(article_list_view.id)%> <small><%= article_list_view.category.title %></small></h3>
    </div>
    <p class="blog_date">Дата создания - <%= Russian::strftime(article_list_view.created_at, '%d %B %Y') %></p>
    <p><%= truncate_html(strip_tags(article_list_view.description.html_safe) , :length => 400, :omission => '...') %></p>
    <% if article_list_view.user.present? %>
        <div class="media user_info">
          <div class="media-left">
            <a href="<%= user_profile_url(article_list_view.user.id) %>">
              <%= image_tag article_list_view.user.avatar.url(:mini), :class => 'media-object img-circle'%>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= article_list_view.user.name if article_list_view.user.name.present? && article_list_view.user.name.present? %> <%= article_list_view.user.soname if article_list_view.user.soname.present? && article_list_view.user.soname.present? %>
            </h4>
          </div>
        </div>

    <% end %>
  </div>
</div>

