
<% @locations.each do |location |%>
<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="thumbnail location_block">
    <% if location.photos.present? && location.photos.where(:is_main => true).first.present? %>
        <%= link_to image_tag(location.photos.where(:is_main => true).first.image.url(:to_main)),  region_location_url(location.region.id, location.id)%>
    <% end %>
    <div class="caption">
      <h3><a href="<%= region_location_url(location.region.id, location.id) %>"><%= location.title %></a></h3>
      <!--<p><%#= location.description %></p>-->

    </div>
  </div>
</div>
<% end %>

<div class="col-xs-12">
  <%= will_paginate @locations, renderer: BootstrapPagination::Rails %>
</div>