<div class="well">
<%= form_for_filterrific filterrific do |f| %>
      <%= f.hidden_field :is_show, :value => true %>
    <div class="form-group row">

      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <div class="col-xs-12">
      <%= f.text_field(
                  :title,
                  class: 'form-control filterrific-periodically-observed', placeholder: 'Название водоема'
          ) %>
    </div>
    </div>

      <div class="row">
    <div class="form-group col-xs-12 col-md-3">
      <%= f.select(
                  :with_fish_id,
                  @filterrific.select_options[:with_fish_id],
                  { include_blank: '- Не выбранно -' },{ :multiple => true}
          ) %>
    </div>

    <div class="form-group col-xs-12 col-md-3">
      <%= f.select(
                  :with_region_id  ,
                  @filterrific.select_options[:with_region_id],
                  { include_blank: '- Не выбранно -'},{ :multiple => true }
          ) %>
    </div>

    <div class="form-group col-xs-12 col-md-3">
      <%= f.number_field(:with_distance_gte, class: 'form-control filterrific-periodically-observed', placeholder: 'Расстояние не более') %>
    </div>

    <div class="form-group col-xs-12 col-md-3">
      <div class="checkbox ">
        <label>
          <%= f.check_box (:is_payed) %> Только бесплатные
        </label>
      </div>
    </div>
    </div>
        <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= link_to(
                      'Сбросить фильтр',
                      reset_filterrific_url, :class => 'btn btn-primary pull-left'
              ) %>
        </div>
      </div>


    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
<% end %>

</div>