<div class="well">
<%= form_for_filterrific filterrific do |f| %>
      <%= f.hidden_field :with_region_id, :value => params[:id] %>
      <%= f.hidden_field :is_show, :value => true %>
    <div class="form-group row">

      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <div class="col-xs-12 col-md-6">
      <%= f.text_field(
                  :title,
                  class: 'form-control filterrific-periodically-observed', placeholder: 'Название водоема'
          ) %>
    </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-12 col-md-6">
      <%= f.select(
                  :with_fish_id,
                  @filterrific.select_options[:with_fish_id],
                  { include_blank: '- Не выбранно -' },{ :multiple => true}
          ) %>
    </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-12 col-md-3">
      <%= f.number_field(:with_distance_gte, class: 'form-control filterrific-periodically-observed', placeholder: 'Расстояние не более') %>
    </div>
    </div>

    <div class="form-group row">
      <div class="checkbox col-xs-12 col-md-3">
        <label>
          <%= f.check_box (:is_payed) %> Только бесплатные
        </label>
      </div>
    </div>

    <div class="form-grou rowp">
      <div class="col-xs-12 col-md-3">
      <%= link_to(
                  'Сбросить фильтр',
                  reset_filterrific_url,
          ) %>
    </div>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
<% end %>
</div>