<% content_for :title, 'Альманах – рыбацкий календарь событий на ' + Time.now.year.to_s + ' год' %>
<% content_for :description, Settings.events_description(kind: 'text', default: 'test') %>
<% content_for :keywords, Settings.events_keywords(kind: 'text', default: 'test') %>
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url %> </li>
      <li class="active">Календарь событий</li>
    </ol>
  </div>
</div>

<div class="page-header">
  <h2>Календарь событий
        <small><%= link_to 'Создать событие', new_event_url, :class => 'btn btn-primary' %></small>
  </h2>


</div>

<div class="row">
  <div class="col-xs-12">

    <div id="create_event_dialog" class="dialog"></div>
    <div id="event_desc_dialog" class="dialog"></div>

    <div id="events-calendar"></div>


    <%#= link_to 'Schedule', fullcalendar_engine_path %>
  </div>
</div>

<script>
    $(document).ready(function () {
        var currentLangCode = 'ru';
        var full_calendar_options = {

            editable: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'month',
            buttonText: {
                month: "Месяц",
                week: "Неделя",
                day: "День",
                list: "Повестка дня",
                today: "Сегодня"
            },
            lazyFetching: true,
//            timezone: 'UTC',
            startParam: 'start_date',
            endParam: 'end_date',
            firstDay: 1,
            ignoreTimezone: true,
            allDayText: "Весь день",
            monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
            monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн','Июл','Авг','Сен','Окт','Ноя','Дек'],
            dayNames: ['Воскресенье','Понедельник','Вторник','Среда','Четверг','Пятница','Суббота'],
            dayNamesShort: ['Вск','Пн','Вт','Ср','Чт','Пт','Сб'],
            eventLimitText: function(n) {
                return "+ ещё " + n;
            },
//        height: 500,
//        slotMinutes: 15,
            loading: function (bool) {
                if (bool)
                    $('#loading').show();
                else
                    $('#loading').hide();
            },
            events: "/get_events",
//        timeFormat: 'h:mm t{ - h:mm t} ',
            dragOpacity: "0.5",
//            eventDrop: function (events, dayDelta, minuteDelta, allDay, revertFunc) {
//              if (confirm("Are you sure about this change?")) {
//                moveEvent(events, dayDelta, minuteDelta, allDay);
//              }
//              else {
//                  revertFunc();
//              }
//            },

//            eventResize: function (events, dayDelta, minuteDelta, revertFunc) {
//              if (confirm("Are you sure about this change?")) {
//                resizeEvent(events, dayDelta, minuteDelta);
//              }
//              else {
//                  revertFunc();
//              }
//            },

            eventClick: function (event, jsEvent, view) {
                showEventDetails(event);
            }
        };
        $('#events-calendar').fullCalendar(full_calendar_options);

        function showEventDetails(event){
            $("#eventModalLabel").html(event.title);
            $(".start").html("<b>Начало</b> - " + moment(event.start).format('DD M YYYY'));
//            $(".end").html("Конец -" + moment(events.end).format('DD M YYYY'));
            $(".description").html(event.description);
            $(".show-event").attr('href','/events/' + event.id);
            $("#eventModal").modal('show');
        }
    });
</script>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="eventModalLabel"></h4>
      </div>
      <div class="modal-body">
        <p class="start"></p>
        <!--<p class="end"></p>-->
        <p class="description"></p>
        <p>
          <a class="show-event" target="_blank">Подробнее</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>