<div class="page-header">
  <h2>Создание события</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @event do |f| %>
        <% if @event.errors.any? %>
            <div id="error_explanation">

              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this msg from being saved:</h2>

              <ul>
                <% @event.errors.full_messages.each do |usr| %>
                    <li><%= usr %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label 'Название' %><br>
          <%= f.text_field :title, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Начало' %><br>
          <%= f.date_select :start, start_year: Time.now.year, :class =>'form-control' %>
        </div>



        <div class="form-group">
          <%= f.label 'Время начала' %><br>
          <%= f.time_select :time_start, :class =>'form-control' %>
        </div>


        <div class="form-group">
          <%= f.label 'Окончание' %><br>
          <%= f.date_select :end, start_year: Time.now.year, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Описание' %><br>
          <%= f.text_area :description, :class =>'form-control wysihtml5' %>
        </div>


        <div class="form-group">
          <%= f.submit 'Сохранить', :class=> 'btn btn-primary' %>
        </div>
    <% end %>



  </div>
</div>