<% content_for :title, @event.title + ' - Рыбалка в Пензенской области' %>
<% content_for :description, truncate_html(strip_tags(@event.description.html_safe) , :length => 120)%>
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url %> </li>
      <li> <%= link_to 'Альманах', events_url %> </li>
      <li class="active"><%= @event.title %></li>
    </ol>
  </div>
</div>

<div class="page-header">
  <h3><%= @event.title %>
    <% if current_user.present? && @event.user.present? && @event.user.id == current_user.id %>
        <small><%= link_to 'Редактировать', edit_event_url(@event.id) %></small>
    <% end %>
  </h3>


</div>

<div class="row">
  <div class="col-xs-12">
    <% if @event.user.present? %>
        <div class="media user_info">
          <div class="media-left">
            <a href="<%= user_profile_url(@event.user.id) %>">
              <%= image_tag @event.user.avatar.url(:mini), :class => 'media-object img-circle'%>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= @event.user.name if @event.user.name.present? && @event.user.name.present? %> <%= @event.user.soname if @event.user.soname.present? && @event.user.soname.present? %>
            </h4>
          </div>
        </div>
    <% end %>
    <p><b>Дата начала - </b><%= Russian::strftime(@event.start, "%d %B %Y")  %> - <%= @event.time_start if @event.time_start.present? %></p>
    <p><b>Дата Окончания - </b> <%= Russian::strftime(@event.end, "%d %B %Y")  %></p>
    <p><%= @event.description.html_safe  %></p>

  </div>
</div>