<aside data-thredded-currently-online class="thredded--currently-online">
  <header>
    <h3 class="thredded--currently-online--title open">Сейчас онлайн</h3>
  </header>

  <ul class="thredded--currently-online--users">
    <% active_users.each do |user| %>
      <li class="thredded--currently-online--user">
        <img class="thredded--currently-online--avatar" src="<%= Thredded.avatar_url.call(user) %>" alt="" />
        <%= user %>
      </li>
    <% end %>
  </ul>
</aside>
