<% unless !messageboard.try(:persisted?) && !Thredded.standalone_layout? %>
    <nav class="thredded--user-navigation" role="navigation">
      <div class="thredded--user-navigation--search">
        <%= render 'thredded/search/form' %>
      </div>

      <ul class="thredded--user-navigation--actions">
        <% if signed_in? %>
            <% if Thredded.standalone_layout? %>
                <li>
                  <%= link_to user_path(current_user) do %>
                      <span><%= current_user %></span>
                  <% end %>
                </li>
            <% end %>

            <% if messageboard.try(:persisted?) %>
                <li>
                  <%= link_to edit_messageboard_preferences_path(messageboard) do %>
                      <span>Notification Settings</span>
                  <% end %>
                </li>
            <% end %>

            <% if Thredded.standalone_layout? %>
                <li>
                  <%= link_to main_app.destroy_user_session_path, method: :delete do %>
                      <span>Sign Out</span>
                  <% end %>
                </li>
            <% end %>
        <% elsif Thredded.standalone_layout? %>
            <li>
              <%= link_to main_app.new_user_session_path do %>
                  <span>Sign In / Register</span>
              <% end %>
            </li>
        <% end %>
      </ul>
    </nav>
<% end %>
