<div class="thredded--main-navigation">
  <%= yield :thredded_breadcrumbs %>

  <% if messageboard.try(:persisted?) %>
    <ul class="thredded--topic-navigation">
      <li class="thredded--topic-navigation--public">
        <%= link_to 'Темы', messageboard_topics_path(messageboard) %>
      </li>
      <li class="thredded--topic-navigation--private">
        <%= link_to messageboard_private_topics_path(messageboard), class: "unread-#{unread_private_topics_count}" do %>
          Private Topics
          <% if unread_private_topics_count > 0 %>
            <span class="thredded--topic-navigation--unread">
              <%= unread_private_topics_count %>
            </span>
          <% end %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
