<div class="page-header">
  <h2>Добавить товар</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @product, :url => { :action => :create_product } do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">

              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this msg from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |usr| %>
                    <li><%= usr %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group">
          <%= f.label 'Изображение' %><br>
          <%= f.file_field :image %>
        </div>

        <div class="form-group">
          <%= f.label 'Название' %><br>
          <%= f.text_field :name, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Категория' %><br>

          <%= f.select(
                  :product_category_id,
                  ProductCategory.options_for_select,
                  { include_blank: '- Укажите категорию -'},{ }
              ) %>

        </div>

        <div class="form-group">
          <%= f.label 'Описание' %><br>
          <%= f.text_area :description, :class =>'form-control wysihtml5' %>
        </div>
    <% end %>
  </div>
</div>