<div class="page-header">
  <h2>Редактирование профиля</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @user, :url => { :action => :update } do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">

              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this msg from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |usr| %>
                    <li><%= usr %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group">
          <%= f.label 'Аватар' %><br>
          <%= f.file_field :avatar %>
        </div>

        <div class="form-group">
          <%= f.label 'Email' %><br>
          <%= f.text_field :email, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Пароль' %><br>
          <%= f.password_field :password, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Магазин?' %><br>
          <%= f.check_box :is_company, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Имя' %><br>
          <%= f.text_field :name, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Фамилия' %><br>
          <%= f.text_field :soname, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Дата рождения' %><br>
          <%= f.date_select :birthday, start_year: 1956, end_year: Time.now.year, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Пол' %><br>
          <%= f.radio_button :sex, 1%> М.
          <%= f.radio_button :sex, 2 %> Ж.
        </div>

        <div class="form-group">
          <%= f.label 'Телефон' %><br>
          <%= f.text_field :phone, :class =>'form-control' %>
        </div>



        <div class="form-group">
          <%= f.label 'Район' %><br>

          <%= f.select(
                      :region_id,
                      Region.options_for_select,
                      { include_blank: '- Укажите район -'},{ }
              ) %>

        </div>


        <div class="form-group">
          <%= f.label 'Описание' %><br>
          <%= f.text_area :description, :class =>'form-control wysihtml5' %>
        </div>


        <div class="form-group">
          <%= f.label 'О магазине' %><br>
          <%= f.text_area :about_company, :class =>'form-control wysihtml5' %>
        </div>

        <div class="form-group">
          <%= f.label 'Информация для клиентов' %><br>
          <%= f.text_area :information_for_clients, :class =>'form-control wysihtml5' %>
        </div>

        <div class="form-group">
          <%= f.label 'Контакты' %><br>
          <%= f.text_area :contacts, :class =>'form-control wysihtml5' %>
        </div>

        <div class="form-group">
          <%= f.label 'Оптовикам' %><br>
          <%= f.text_area :wholesalers, :class =>'form-control wysihtml5' %>
        </div>

        <div class="form-group">
          <%= f.label 'Оплата и доставка' %><br>
          <%= f.text_area :payment_and_delivery, :class =>'form-control wysihtml5' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Сохранить', :class=> 'btn btn-primary' %>
        </div>
    <% end %>



  </div>
</div>