<div class="row">
  <div class="page-header">
    <h3> <%= @product.name %>
      <% if current_user.present? && @product.user_id == current_user.id %>
          <small><%= link_to 'Редактировать', users_edit_product_url(@product) %></small>
      <% end %>
    </h3>
  </div>
  <div class="col-xs-4">
    <% if @product.image.present? %>
        <%= image_tag @product.image.url(:to_main_profile), :class => 'img-responsive' %>
    <% else %>
        <%= image_tag image_path('logo.png'), :class => 'img-responsive' %>
    <% end %>

  </div>
  <div class="col-xs-8">


    <dl class="dl-horizontal">
      <dt>Стоимость</dt>
      <dd><%= @product.price if @product.price.present? %></dd>
      <dt>Категория</dt>
      <dd><%= @product.product_category.name %></dd>
      <dt>Описание</dt>
      <dd><%= @product.description.html_safe if @product.description.present?  %></dd>

    </dl>
  </div>
</div>
