<div class="page-header">
  <h2>Чтото пошло не так, мы уже работаем над исправлением ситуации</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= image_tag image_path('500.jpg'), :class => 'img-responsive center-block' %>
  </div>
</div>