<div class="page-header">
  <h2>Страница не найденна</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= image_tag image_path('404.jpg'), :class => 'img-responsive center-block' %>
  </div>
</div>
