

<div class="row">
  <div class="col-xs-6">

    <div class="page-header">
      <h3>Восстановление пароля</h3>
    </div>

    <%= form_for(resource, :as => resource_name, url: password_path(resource_name), html: { method: :post })  do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group"><%= f.label :email %><br />
          <%= f.email_field :email, :class =>'form-control', autofocus: true  %></div>


        <div class="form-group"><%= f.submit 'Восстановить', :class =>'btn btn-default'%></div>
    <% end %>

    <%= render :partial => 'users/shared/links' %>
  </div>
</div>