<% content_for :title, 'Рыбацкий блог - рыболовные отчеты, новости, анонсы чемпионатов' %>
<% content_for :description, Settings.blog_description(kind: 'text', default: 'test') %>
<% content_for :keywords, Settings.blog_keywords(kind: 'text', default: 'test') %>

<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url%> </li>
      <li class="active">Блог </li>
    </ol>
  </div>
</div>
<div class="row blog_list">
  <div class="col-xs-12">

      <%= render :partial => 'shared/article_list_view', :collection => @articles %>

  </div>
</div>