<% content_for :title, @article.title + ' - Рыбацкий блог - рыболовные отчеты, новости, анонсы чемпионатов' %>
<% content_for :description, truncate_html(strip_tags(@article.description.html_safe) , :length => 120)%>
<% content_for :keywords, @article.keywords %>
<div class="row">
  <div class="col-xs-12">

    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url%> </li>
      <li> <%= link_to 'Блог',blog_url %> </li>
      <li class="active"><%=  @article.title %> </li>
    </ol>
  </div>
</div>

<div class="row">

  <div class="col-xs-12" >
    <div class="page-header">
      <h1><%= @article.title %> <small><%= @article.category.title %></small></h1>
    </div>

    <% if @article.user.present? %>
        <dl class="dl-horizontal">
          <%= link_to user_profile_url(@article.user.id) do %>
              <dt><%= image_tag @article.user.avatar.url(:thumb), :class => 'img-responsive'%></dt>
              <dd><%= @article.user.name if @article.user.name.present? && @article.user.name.present? %> <%= @article.user.soname if @article.user.soname.present? && @article.user.soname.present? %></dd>
          <% end %>
        </dl>
    <% end %>
    <p><%= @article.description.html_safe %></p>
  </div>
</div>
<% if @article.photos.present? %>
<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h3>Фотографии</h3>
    </div>
    <div class="zoom-gallery">
      <% @article.photos.each do |photo| %>
          <a href="<%= photo.image.url(:detailed)%>" data-source="<%= photo.image.url(:detailed)%>" title="<%= @article.title %>">
            <img src="<%= photo.image.url(:medium)%>" title="<%= @article.title %>" alt="<%= @article.title %>">
          </a>
      <% end %>
    </div>

    <!--<%#= carousel_for(@photos) %>-->
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <%= commontator_thread(@article) %>
  </div>
</div>



<script type="text/javascript">
    var show_ready;
    show_ready = function() {


        $('.zoom-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            closeOnContentClick: false,
            closeBtnInside: false,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            image: {
                verticalFit: true,
                titleSrc: function (item) {
                    return item.el.attr('title') + ' &middot; <a class="image-source-link" href="' + item.el.attr('data-source') + '" target="_blank">image source</a>';
                }
            },
            gallery: {
                enabled: true
            },
            zoom: {
                enabled: true,
                duration: 300, // don't foget to change the duration also in CSS
                opener: function (element) {
                    return element.find('img');
                }
            }

        });


    }
    $(document).ready(show_ready);
    $(document).on('page:load', show_ready);
</script>