<% content_for :title, 'Добавление отчета - Рыбалка в Пензенской области' %>
<div class="page-header">
  <h2>Новый отчет</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @article, :url => { :action => :create }, html: {id: 'article-form', multipart: true, class: 'dropzone'} do |f| %>

        <p>
        <%= f.label 'Водоём' %><br>

        <%= f.select(
                    :location  ,
                    Location.options_for_select,

                    { include_blank: '- Укажите водоём -'},{ }
            ) %>
        </p>
        <p>
          <%= f.label 'Изображение' %><br>
          <%= f.file_field :logo %>
        </p>
        <p>
          <%= f.label 'Заголовок' %><br>
          <%= f.text_field :title %>
        </p>

        <p>
          <%= f.label 'Отчет' %><br>
          <%= f.text_area :description, :class =>'wysihtml5' %>
        </p>

        <p>
          <%= f.submit 'Создать отчет', :class=> 'btn btn-primary' %>
        </p>
    <% end %>
  </div>
</div>

<script>

    $("#article_location").select2({
        placeholder: "Регион"
    });

    Dropzone.options.articleForm = { // The camelized version of the ID of the form element

        // The configuration we've talked about above
//        autoProcessQueue: true,
        dictDefaultMessage: 'Нажмите или перетащите изображения сюда',
//        uploadMultiple: true,
//        parallelUploads: 100,
        maxFilesize: 1,
//        maxFiles: 20,
        addRemoveLinks: true,
        url: "/article_photos",
        paramName: 'article[photos_attributes][][image]'


    };

</script>