@import "bootstrap-sprockets";
@import "bootstrap";
@import "main";
@import "animate.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "application_inner";
@import "magnific-popup";
@import "spoiler";
@import "map";
@import "select2";
@import "select2-bootstrap";
@import "dropzone";
@import "fullcalendar.css";
@import "commontator/comments";
@import "commontator/threads";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

.logo{
  width: 250px;
  margin: 0 auto;
}

footer {
  padding: 25px 0;
  text-align: center;
  margin-top: 60px;
}
footer span.copyright {
  line-height: 40px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-transform: none;
}
footer ul.quicklinks {
  line-height: 40px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  margin-bottom: 0;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  background-color: #222;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  outline: 0 none;
  transition: all 0.3s ease 0s;
  width: 40px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #f05f40;
}
#s2id_search_fish{min-width: 200px;}

.navbar-default.affix .navbar-header .navbar-brand {
  color: #f05f40;
  font-size: 18px;
}

.collapse.in .navbar-nav li a{ color: #000000;}

.ads{margin-top: 10px; margin-bottom: 10px;}

.blog_date{color: #777777}
