.header_inner{
  padding: 50px 50px 0px 50px;
  text-align: center;
  background: url(image_path("headerbg.jpg")) no-repeat center center;
  background-size: cover;
  height: 250px;
}
.logo_inner{
  display: block;
  height: 154px;
  width: 186px;
  background: url(image_path("logo.png")) no-repeat center center;
  background-size: 186px 154px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: 0 auto;
}

.main-block{
  margin-bottom: 30px;
}

.carousel-control.right, .carousel-control.left{background-image: none;}

.image-source-link {
  color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.thumbnail.location_block {
  min-height: 250px;
}

//a {
//  color: #0000c8;
//  transition: all 0.35s ease 0s;
//}

.zoom-gallery img {
  margin-bottom: 10px;
  margin-right: 10px;
}

header .header-content .header-content-inner p {
  color: rgba(255, 255, 255, 1);
}


.navbar-default.app-inner .nav > li>a,
.navbar-default.app-inner .nav>li>a:focus {
  color: rgba(255,255,255,1);
}

.navbar-default.app-inner .nav > li>a:hover,
.navbar-default.app-inner .nav>li>a:focus:hover {
  color: #f05f40 !important;
}

.navbar-default.affix.app-inner .nav > li>a,
.navbar-default.affix.app-inner .nav>li>a:focus {
  color: #222;
}

.page-header {
  position: relative;
}


.add-content{
  position: absolute;
  right: 0;
  bottom: 20px;
  text-align: right;
}
.partner-image{
  margin: 0 auto;
}

.blog_list{margin-top: 20px;}

.blog_list img{
  margin: 40px 0 20px;
}
.app-inner .nav-pills{
//  margin-bottom: 20px;
}

.breadcrumb{
  margin-top: 20px;
}
.app-inner .nav-pills > li > a {
  border-radius: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #f05f40;
  color: #fff;
}

.search-form{
  margin-bottom: 20px;
}

#report{
  padding: 20px;
}

.select2-input {min-width: 200px;}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #f05f40;
  border-color: #f05f40;
  color: #fff;
  cursor: default;
  z-index: 2;
}
.pagination > li > a, .pagination > li > span {
  background-color: #fff;
  border: 1px solid #ddd;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}

#mainNav .navbar-right.inner-nav{
  background-color: #ffffff;
  color: #000000;
}

#mainNav .navbar-right.inner-nav a{
  background-color: #ffffff;
  color: #000000;
}

.navbar-right i{
  margin-right: 12px;
  top: 5px;
  font-size: 16px;
}

.app-inner{
//  background-color: #ffffff;
//  opacity: 0.7;
}

.profile-article .page-header, .profile-article h3{margin-top: 0px;}

.article-container{
  margin-bottom: 30px;
//  border-bottom: 1px solid #f05f40;
}

.items-list {
  height: 116px;
  margin-bottom: 30px;
}

.col-sm-4.contact-list{
  height: 165px;
}

.facebook{
  display: inline-block;
  background: url(image_path("facebook.png")) no-repeat center center;
  height: 50px;
  width: 50px;
}

.vkontakte{
  display: inline-block;
  background: url(image_path("vk.png")) no-repeat center center;
  height: 50px;
  width: 50px;
}

.twitter{
  display: inline-block;
  background: url(image_path("twitter.png")) no-repeat center center;
  height: 50px;
  width: 50px;
}

.user_info img {
  margin: 0px;
}

.user_info .media-heading {
  margin-bottom: 5px;
  margin-top: 11px;
}


.profile_location_block .thumbnail.location_block {
  min-height: 280px;
}

.margin-b-10{margin-bottom: 10px;}

.messages-body{
  padding-bottom: 110px;
}

.message-section{
  position: fixed;
  bottom: 2px;
  width: 1170px;
  background-color: #f5f5f5;
  z-index: 10;
  padding-top: 10px;
  height: 270px;
}

.green-border{
  border: 2px solid #5cb85c;
}

.red-border{
  border: 2px solid #d9534f;
}

.profile_location_block .thumbnail.location_block {
  min-height: 275px;
}