@media(min-width:768px) {
  #map-header.navbar-default {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
  }

  #map-header.navbar-default .navbar-header .navbar-brand {
    font-size: 14px;
    color: #f05f40;
  }

  #map-header.navbar-default .navbar-header .navbar-brand:hover,
  #map-header.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }

  #map-header.navbar-default .nav > li>a,
  #map-header.navbar-default .nav>li>a:focus {
    color: #222;
  }

  #map-header.navbar-default .nav > li>a:hover,
  #map-header.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
  }

  #map-header.navbar-fixed-top, #map-header.navbar-fixed-bottom {
    position: relative;
  }
  #map-header.navbar {
    margin-bottom: 0;
  }
}

section#map {
  min-height: 94%;
}

.map_balloon_content{
  margin-top: 20px;
}
.map_balloon_footer, .map_balloon_header{
  width: 190px;
}

.map_balloon_footer:hover{text-decoration: none;}