<% content_for :thredded_page_title, 'Edit Post' %>
<% content_for :thredded_page_id, 'thredded-edit-post' %>
<%= thredded_page do %>
  <section class="main-section">
    <h3 class="thredded--post-form--title">Редактироваьт пост</h3>

    <%= render 'thredded/posts/form',
               messageboard: messageboard,
               topic:        topic,
               post:         @post,
               button_text:  'Update Post' %>
  </section>
<% end %>
