<% content_for :title, 'Список водоемов Пензенской области с описанием и фотографиями' %>
<% content_for :description, Settings.region_description(kind: 'text', default: 'test') %>
<% content_for :keywords, Settings.region_keywords(kind: 'text', default: 'test') %>
<div class="row">
  <div class="col-xs-12">

    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url%> </li>
      <li class="active">Водоемы </li>
    </ol>
  </div>

  <div class="col-xs-12 ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!— новыйййй —>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5015109965792737"
         data-ad-slot="4549444327"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="col-xs-12">

      <%= render :partial => 'shared/search_form', :locals => {:filterrific => @filterrific }%>


  </div>
</div>
<div class="row">
<div class="col-xs-12">
  <div id="results" class="row">


    <%= render :partial => 'shared/location_list_view', :locals => { :locations => @locations } %>

  </div>

</div>
</div>