<% content_for :title, @region.title + ' - Список водоемов Пензенской области с описанием и фотографиями' %>
<% content_for :description, Settings.region_description(kind: 'text', default: 'test') %>
<% content_for :keywords, Settings.region_keywords(kind: 'text', default: 'test') %>
<div class="row">
  <div class="col-xs-12">

    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url%> </li>
      <li> <%= link_to 'Водоемы',regions_url%> </li>
      <li class="active"><%=  @region.title %> </li>
    </ol>
  </div>
  <div class="col-xs-12">
    <%= render :partial => 'shared/search_form', :locals => {:filterrific => @filterrific }%>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="results" class="row">


      <%= render :partial => 'shared/location_list_view', :locals => { :locations => @locations } %>

    </div>

  </div>
</div>