<section class="no-padding" id="map">
  <div class="container-fluid">
    <div class="row no-gutter">
        <div id="map" style="width: 100%; height: 100%;">

        </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    var show_ready;
    show_ready = function() {

        ymaps.ready(init);
        var myMap, myGeoObject;

        function init() {
            myMap = new ymaps.Map("map", {
                center: ["53.194546", "45.019529"],
                zoom: 9
            });

            <% @locations.each do |location| %>

              myGeoObject = new ymaps.GeoObject({
                // Описание геометрии.
                geometry: {
                    type: "Point",
                    coordinates: ["<%= location.lat %>", "<%= location.longt %>"]
                },
                // Свойства.
                properties: {
                    // Контент метки.
                    iconContent: "<%= location.title %>",

                  balloonContentHeader: '<div class="map_balloon_header"><a href="<%= region_location_url(location.region.id, location.id) %>"><%= location.title %></a></div>',
                  balloonContentBody: '<div class="map_balloon_content"><%= image_tag location.photos.where(:is_main => true).first.image.url(:small), :class => 'media-object'%></div>',
                  balloonContentFooter: '<div class="map_balloon_footer">' +
                  <% if location.fishes.size > 0 %>
                    <% location.fishes.each_with_index do |fish, index| %>
                      '<%= fish.name %>' +
                      <% unless index == location.fishes.size - 1 %>
                        ', '+
                      <% end %>
                    <% end %>
                  <% end %>
                  '</div>'
                }
              }, {
                // Опции.
                // Иконка метки будет растягиваться под размер ее содержимого.
                preset: 'islands#blackStretchyIcon',
                // Метку можно перемещать.
                draggable: false
              });



              myMap.geoObjects.add(myGeoObject);
            <% end %>
        }
    }
    $(document).ready(show_ready);
    $(document).on('page:load', show_ready);
</script>