<% content_for :title, 'Контакты собственников и охранников платных прудов и баз отдыха Пензенской области' %>
<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url %> </li>
      <li class="active">Контакты</li>
    </ol>
  </div>
</div>

<div class="page-header">
  <h2>Контакты с водоёмов</h2>
</div>

<div class="row main-block">

  <div class="col-xs-12">
    <% @locations.each do |location| %>
        <% if location.contacts.present? %>
            <div class="col-xs-12 col-sm-4 contact-list">
              <div class="page-header">
                <h3><%= link_to location.title, region_location_url(location.region.id, location.id) %> </h3>
              </div>
              <ul>
                <% location.contacts.each do |contact| %>
                    <li><b><%= contact.contact_description %></b> - <%= contact.contact_value %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
    <% end %>
  </div>
</div>