<% content_for :title, 'Список водоемов Пензенской области с описанием и фотографиями' %>

<div class="row" >
  <div class="col-xs-12 ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!— новыйййй —>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5015109965792737"
         data-ad-slot="4549444327"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <%= render :partial => 'shared/search_form_region', :locals => {:filterrific => @filterrific }%>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="results" class="row">

      <%= render :partial => 'shared/location_list_view', :collection => @locations %>

    </div>
  </div>
</div>