<% content_for :title, 'Добавление водоёма - Рыбалка в Пензенской области' %>
<div class="page-header">
  <h2>Новый водоём</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @location, :url => { :action => :create }, html: {id: 'first-form', multipart: true, class: 'dropzone'} do |f| %>
        <%= f.hidden_field :lat, :value =>'53.207112'%>
        <%= f.hidden_field :longt, :value => '45.015317'%>
        <div class="form-group">
          <%= f.label 'Название' %><br>
          <%= f.text_field :title, :class =>'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'Район' %><br>

          <%= f.select(
                      :region  ,
                      Region.options_for_select,
                      { include_blank: '- Укажите район -'},{ }
              ) %>

          <%#= f.collection_select(:region, Region.all, :id, :title,{})%>
        </div>

        <div class="form-group">
          <label>Переместите указатель на карте. Чтобы указать местоположение пруда </label>
        </div>

        <div id="map" style="width: 100%; height: 450px">

        </div>

        <div class="form-group">
          <%= f.label 'Обитатели' %><br>
          <%= f.select(
                      :fishes  ,
                      Fish.options_for_select,
                      { include_blank: false},{ :multiple => true }
              ) %>
        </div>

        <div class="form-group">
          <%= f.label 'Оплата' %><br>
          <%= f.text_field :user_price, :class =>'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Контакты' %><br>
          <%= f.text_field :location_contact, :class =>'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'Описание' %><br>
          <%= f.text_area :description, :class =>'form-control wysihtml5' %>
        </div>

        <div class="dropzone-previews"></div>
        <div class="fallback">
          <%#= f.file_field :image %>
        <%= f.fields_for :photos  do |at| %>
            <%= at.file_field :image %>
        <% end %>
        </div>
        <div class="form-group">
          <%= f.submit 'Добавить водоём', :class=> 'btn btn-primary' %>
        </div>
    <% end %>



</div>
</div>

<script>

    $("#location_fishes").select2({
        placeholder: "Обитатели",
        allowClear: true
    });


    $("#location_region").select2({
        placeholder: "Регион"
    });

    Dropzone.options.firstForm = { // The camelized version of the ID of the form element

        // The configuration we've talked about above
//        autoProcessQueue: true,
        dictDefaultMessage: 'Нажмите или перетащите изображения сюда',
//        uploadMultiple: true,
//        parallelUploads: 100,
        maxFilesize: 1,
//        maxFiles: 20,
        addRemoveLinks: true,
        url: "/photos",
        paramName: 'location[photos_attributes][][image]'


    };


    $("#location_region").on("change", function() {
        var $this = $(this);
        console.log($this.val());
        if ($this.val()) {

            $.ajax({
                type: 'GET',
                url: '/getRegion',
                data: {
                    'region': $this.val()
                    },
                dataType: 'json',
                success: function(data) {
                    console.log(data.lat)

                    myMap.geoObjects.each(function(context) {
                        myMap.geoObjects.remove(context);
                    });

                    $('#location_lat').val(data.lat)
                    $('#location_longt').val(data.longt)

                    var myGeoObject = new ymaps.Placemark(
                            [data.lat, data.longt],
                            {},
                            {
                                draggable: true, // метку можно перемещать
                                preset: 'twirl#whiteStretchyIcon'
                            }
                    );

                    myGeoObject.events.add('dragend', function(e) {
                        // Получение ссылки на объект, который был передвинут.
                        var thisPlacemark = e.get('target');
                        // Определение координат метки
                        var coords = thisPlacemark.geometry.getCoordinates();
                        // и вывод их при щелчке на метке
                        thisPlacemark.properties.set('balloonContent', coords);
                        $('#location_lat').val(coords[0])
                        $('#location_longt').val(coords[1])
                    });

                    myMap.geoObjects.add(myGeoObject);

                    myMap.container.fitToViewport();

                    myMap.panTo([data.lat, data.longt], {
                        flying: false
                    });
                }
            });

        }
    });

    ymaps.ready(init);
    var myMap, myGeoObject;

    function init() {
        myMap = new ymaps.Map("map", {
            center: ["53.207112", "45.015317"],
            zoom: 13
        });

        var myGeoObject = new ymaps.Placemark(
                ["53.207112", "45.015317"],
                {},
                {
                    draggable: true, // метку можно перемещать
                    preset: 'twirl#whiteStretchyIcon'
                }
        );




//        myGeoObject.editor.startEditing();


        myGeoObject.events.add('dragend', function(e) {
            // Получение ссылки на объект, который был передвинут.
            var thisPlacemark = e.get('target');
            // Определение координат метки
            var coords = thisPlacemark.geometry.getCoordinates();
            // и вывод их при щелчке на метке
            thisPlacemark.properties.set('balloonContent', coords);
            $('#location_lat').val(coords[0])
            $('#location_longt').val(coords[1])
        });

        myMap.geoObjects.add(myGeoObject);
    }

</script>