<% payed = @location.is_payed ? ' - Пплатная рыбалка' : ' - бесплатная рыбалка'%>
<% content_for :title, @location.title + payed + ' - Рыбалка в Пензенской области' %>
<% content_for :description, truncate_html(strip_tags(@location.description.html_safe) , :length => 120)%>
<% content_for :keywords, @location.keywords %>

<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li> <%= link_to 'Главная', root_url %> </li>
      <li> <%= link_to 'Водоемы', regions_url %> </li>
      <li><%= link_to @location.region.title, region_url(@location.region.id) %> </li>
      <li class="active"><%= @location.title %></li>
    </ol>
  </div>
</div>
<div class="row" >
<div class="col-xs-12 ads">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!— новыйййй —>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5015109965792737"
       data-ad-slot="4549444327"
       data-ad-format="auto"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
</div>

<div class="page-header">
  <h2><%= @location.title %> <small> <%= @location.region.title %></small></h2>
      <div class="add-content pull-right hidden-xs">
        <%= link_to 'Добавить водоём', new_location_url %><br/>
        <%= link_to 'Добавить отчет', new_users_blog_url %>
      </div>

</div>
<div class="row main-block">
      <div class=" visible-xs">
        <div class="col-xs-6"><%= link_to 'Добавить водоём', new_location_url, :class => 'btn btn-primary ' %></div>
        <div class="col-xs-6"><%= link_to 'Добавить отчет', new_users_blog_url, :class => 'btn btn-primary ' %></div>
      </div>
  <div class="col-xs-12">
    <div id="map" style="width: 100%; height: 450px"></div>
  </div>


  <div class="col-xs-12">

    <h3> <%= @location.is_payed ? 'Платный водоём' : 'Бесплатный водоём' %></h3>
    <p><%= @location.locations %></p>

    <% if @location.fishes.size > 0 %>
        <div class="col-xs-4">
          <h3>Обитатели</h3>
          <ul>
            <% @location.fishes.each do |fish| %>
                <li><%= fish.name %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @location.is_payed %>
        <div class="col-xs-4">
          <h3>Условия ловли</h3>
          <ul>
            <% @location.prices.each do |price| %>
                <li><b><%= price.type_of_pryce %></b> - <%= price.value_of_price %> р</li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @location.contacts.present?%>
      <div class="col-xs-4">
        <h3>Контакты</h3>
          <% @location.contacts.each do |contact| %>
              <div class="col-xs-6"><b><%= contact.contact_description %></b></div> <div class="col-xs-6"><%= contact.contact_value %></div>
          <% end %>
      </div>
    <% end %>

    <% if @location.user.present? %>
        <div class="col-xs-12">
          <div class="page-header">
            <h4>Водоём добавлен пользователем -
              <%= link_to user_profile_url(@location.user.id) do %>
                  <%= @location.user.name if @location.user.name.present? %> <%= @location.user.soname if @location.user.soname.present? %>
              <% end %>
            </h4>
          </div>
        </div>

    <% end %>
  </div>

</div>


<div class="row">
  <div class="col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
      <li role="presentation"><a href="#report" aria-controls="report" role="tab" data-toggle="tab">Отчеты</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="description">
        <p>
          <%= @location.description.html_safe %>
        </p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="report">
        <% if @location.articles.size > 0 -%>
            <% @location.articles.each do |article| %>
                <div class="row">
                  <div class="col-xs-12 col-sm-4" >
                    <% if article.logo.present?  %>
                        <%= link_to image_tag(article.logo.url(:medium), :class => 'img-responsive'), article_url(article.id)%>
                    <% end %>
                  </div>
                  <div class="col-xs-12 col-sm-8" >
                    <div class="page-header">
                      <h3><%= link_to article.title, article_url(article.id)%> <small><%= article.category.title %></small></h3>
                    </div>
                    <p><%= truncate_html(article.description.html_safe , :length => 400, :omission => '...') %></p>
                    <div class="col-xs-12" >
                      <% if article.user.present?%>
                        <dl class="dl-horizontal">
                          <%= link_to user_profile_url(article.user.id) do %>
                          <dt><%= image_tag article.user.avatar.url(:thumb), :class => 'img-responsive'%></dt>
                          <dd><h3><%= article.user.name if article.user.name.present? && article.user.name.present? %> <%= article.user.soname if article.user.soname.present? && article.user.soname.present? %></h3></dd>
                          <% end %>
                        </dl>
                      <% end %>
                    </div>
                  </div>

                </div>
            <% end %>
        <% else %>
            <h3> Отчет с этого водоёма пока никто не написал. Стань первым</h3>
            <p>
              <% if user_signed_in? -%>
                  <%= link_to 'Добавить отчет', new_region_location_blog_url(params[:region_id], params[:id]) %>
              <% else -%>
                  <%= link_to 'Войдите чтобы написаь отчет', new_user_session_path %>
              <% end -%>
            </p>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= commontator_thread(@location) %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h3>Фотографии</h3>
    </div>
    <div class="zoom-gallery">
    <% @location.photos.each do |photo| %>
      <a href="<%= photo.image.url(:detailed)%>" data-source="<%= photo.image.url(:detailed)%>" title="<%= @location.title %>">
        <img src="<%= photo.image.url(:medium)%>" title="<%= @location.title %>" alt="<%= @location.title %>">
      </a>
    <% end %>
    </div>

    <!--<%#= carousel_for(@photos) %>-->
  </div>
</div>



<script type="text/javascript">
    var show_ready;
    show_ready = function() {


        $('.zoom-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            closeOnContentClick: false,
            closeBtnInside: false,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            image: {
                verticalFit: true,
                titleSrc: function (item) {
                    return item.el.attr('title') + ' &middot; <a class="image-source-link" href="' + item.el.attr('data-source') + '" target="_blank">image source</a>';
                }
            },
            gallery: {
                enabled: true
            },
            zoom: {
                enabled: true,
                duration: 300, // don't foget to change the duration also in CSS
                opener: function (element) {
                    return element.find('img');
                }
            }

        });

        ymaps.ready(init);
        var myMap, myPlacemark;

        function init() {
            myMap = new ymaps.Map("map", {
                center: ["<%= @location.lat %>", "<%= @location.longt %>"],
                zoom: 13
            });

            myPlacemark = new ymaps.Placemark(["<%= @location.lat %>", "<%= @location.longt %>"], {
                hintContent: '<%= @location.title %>',
                balloonContent: '<%= @location.title %>'
            });

            myMap.geoObjects.add(myPlacemark);
        }
    }
    $(document).ready(show_ready);
    $(document).on('page:load', show_ready);
</script>