<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Settings.description(kind: 'text', default: 'test') %>">
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : Settings.keywords(kind: 'text', default: 'test') %>">

  <meta name="yandex-verification" content="19a87a493cfdffbb" />
  <title><%= content_for?(:title) ? yield(:title) : 'Все о Пензенской рыбалке и рыбалке в Пензенской области, карта водоемов, отчеты, альманах' %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= javascript_include_tag 'https://js.stripe.com/v2/' %>

  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Iamfisher.ru <% if @province.present? %><%= @province.title %><% end %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#about">О нас</a>
        </li>
        <li>
          <a class="page-scroll" href="#services">Наша миссия</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">Водоёмы</a>
        </li>
        <li>
          <a class="page-scroll" href="#partners">Партнеры</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Контакты</a>
        </li>
        <% unless user_signed_in? -%>
            <li>
                <%= link_to 'Вход', new_user_session_path %>
            </li>
            <% else %>
            <li>
              <a href="<%= users_root_url %>"><i class="fa fa-user"></i> Личный кабинет</a>
            </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<%= yield %>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Дмитрий Тарасов 2014<% if  Time.now.year != 2014  %> - <%= Time.now.year %><% end %></span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="http://vk.com/iamfisher" target="_blank"><i class="fa fa-vk"></i></a>
          </li>

        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="<%= main_app.private_police_url %>">Конфиденциальность</a>
          </li>
          <li><a href="<%= main_app.term_of_use_url %>">Условия использования</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-554f84f93dfe915d" async="async"></script>

<% if Rails.env.production? %>
<!— Yandex.Metrika counter —>
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter34493570 = new Ya.Metrika({
                    id:34493570,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/34493570" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!— /Yandex.Metrika counter —>
<% end %>
</body>