<!DOCTYPE html>
<html>
  <head>
    <title>Форум - <%= yield :thredded_page_title %> - Рыбалка в Пензенской области</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Settings.forum_description(kind: 'text', default: 'test') %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : Settings.forum_keywords(kind: 'text', default: 'test') %>">
    <meta name="yandex-verification" content="19a87a493cfdffbb" />
    <%= stylesheet_link_tag 'thredded' %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'application'  %>
    <%= yield :thredded_javascript %>
    <style>

    </style>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top app-inner">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Iamfisher.ru <% if @province.present? %><%= @province.title %><% end %> </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= render_navigation :level => 1 %>
        <ul class="nav navbar-nav navbar-right ">

          <% if user_signed_in? -%>
              <% if @new_messages.present? && @new_messages > 0%>
                  <li>
                    <%= link_to conversations_path do %>
                        <i class='fa fa-inbox'></i> Входящие (<%= @new_messages %>)
                    <% end %>
                  </li>
              <% end %>
              <li>
                <a href="<%= users_root_url %>"><i class="fa fa-user"></i> <%= current_user.name if current_user.name.present? %> <%= current_user.soname if current_user.soname.present? %></a>
              </li>
              <li>
                <%= link_to '<i class="fa fa-power-off"></i>'.html_safe, destroy_user_session_path, method: :delete %>
              </li>


          <% else -%>
              <li>
                <%= link_to 'Вход', new_user_session_path %>
              </li>
              <li>
                <%= link_to 'Регистрация', new_user_registration_path %>
              </li>
          <% end -%>


        </ul>

      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="header_inner">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
      </div>
    </div>


  </div>
  <div class="container app-inner">
    <%= yield %>
  </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Дмитрий Тарасов 2014<% if  Time.now.year != 2014  %> - <%= Time.now.year %><% end %></span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">

              <li><a href="http://vk.com/iamfisher" target="_blank"><i class="fa fa-vk"></i></a>
              </li>

            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li><a href="<%= private_police_url %>">Конфиденциальность</a>
              </li>
              <li><a href="<%= term_of_use_url %>">Условия использования</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  <% if Rails.env.production? %>
      <!— Yandex.Metrika counter —>
      <script type="text/javascript">
          (function (d, w, c) {
              (w[c] = w[c] || []).push(function() {
                  try {
                      w.yaCounter34493570 = new Ya.Metrika({
                          id:34493570,
                          clickmap:true,
                          trackLinks:true,
                          accurateTrackBounce:true,
                          webvisor:true
                      });
                  } catch(e) { }
              });

              var n = d.getElementsByTagName("script")[0],
                      s = d.createElement("script"),
                      f = function () { n.parentNode.insertBefore(s, n); };
              s.type = "text/javascript";
              s.async = true;
              s.src = "https://mc.yandex.ru/metrika/watch.js";

              if (w.opera == "[object Opera]") {
                  d.addEventListener("DOMContentLoaded", f, false);
              } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/34493570" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!— /Yandex.Metrika counter —>
  <% end %>
  </body>
</html>
