<p>Добро пожаловать <%= @email %>!</p>

<p>Перейдите по ссылке для подтверждения регистрации:</p>

<p><%= link_to 'Gjlndthlbnm htubcnhfwb.', confirmation_url(@resource, confirmation_token: @token) %></p>
