<p>Привет <%= @resource.email %>!</p>

<p>Вы запросили смену пароля, на сайте iamfisher.ru</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не делали такой запрос просто проигнорируйте сообщение.</p>
<p>Ваш пароль не изменится пока вы не перейдете по ссылке.</p>
