
<div class="row">
  <div class="col-xs-6">

    <div class="page-header">
      <h3>Регистрация</h3>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group"><%= f.label :email %><br />
          <%= f.email_field :email, :class =>'form-control' %></div>
        <div class="form-group">
          <%= f.label :password %>
          <% if @validatable %>
              <em>(<%= @minimum_password_length %> символов минимум)</em>
          <% end %><br />
          <%= f.password_field :password, :class =>'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, :class =>'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group"><%= f.label :name %><br />
          <%= f.text_field :name, :class =>'form-control' %></div>

        <div class="form-group"><%= f.label :soname %><br />
          <%= f.text_field :soname, :class =>'form-control' %></div>

        <div class="form-group">
          <%= select(:custom,
                      :province_id  ,
                      Province.options_for_select,
                      { include_blank: '- Укажите область -'},{ }
              ) %>

        </div>
          <div class="form-group">
        <%= f.select(
                    :region_id  ,
                    [],
                    { include_blank: '- Укажите район -'},{ }
            ) %>

        </div>



        <div class="form-group"><%= f.submit 'Зарегистрироваться', :class =>'btn btn-primary'%></div>
    <% end %>

    <%= render :partial => 'users/shared/links' %>
  </div>
</div>

<script>
    $("#user_region_id").select2({
        placeholder: "Регион"
    });

    $("#user_region_id").hide();

    $("#custom_province_id").select2({
        placeholder: "Область"
    });
</script>
